.Invoice {
  &__sub-container {
    display: flex;
    padding: 8px;
    justify-content: space-between;
  }

  &__main-container {
    width: 1050px;
    margin: auto;
    min-height: 600px;
    border: 1px solid black;
  }

  &__Main-heading {
    font-size: 28px;
    font-weight: 600;
  }

  &__sub-two {
    border-bottom: 1px solid grey
  }

  &__sub-three {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey
  }

  &__sub-four {
    display: flex;
    justify-content: space-between;
  }

  &__sub-five {
    display: flex;
    justify-content: space-between;
  }

  &__invoice-subContainer {
    width: 50%;
    border-right: 1px grey solid;
    padding: 8px;
    text-align: left;
  }

  &__place-of-supply {
    width: 50%;
    padding: 8px;
    text-align: left;
  }
}
