.BuyersTable {
  &__main-container {
    display: block;
  }

  &__table-container {
    display: flex;
    width: 1000px;
    margin: auto;
  }

  &__edit-button {
    border: 1px solid;
    padding: 0.1rem 1rem;
    vertical-align: middle;
    border-color: #f18f90;
    color: black;
    cursor: pointer;
    line-height: 1;
    user-select: none;
    background-color: transparent;
  }

  &__delete-button {
    border: 1px solid;
    padding: 0.1rem 1rem;
    vertical-align: middle;
    border-color: #f18f90;
    color: darkgrey;
    cursor: pointer;
    line-height: 1;
    user-select: none;
    background-color: transparent;
  }

  &__button-container {
    margin-right: 5px;
  }

  &__table-heading {
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    text-align: left;
    &-id {
      width: 70px;
      text-align: unset;
    }
    &-name {
      width: 100px;
    }
    &-address {
      width: 250px;
    }
    &-city {
      width: 80px;
    }
    &-phone {
      width: 85px;
    }
    &-actions {
      width: 150px;
    }
  }

  &__table-content {
    padding: 10px;
    border-bottom: 1px solid darkgrey;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: left;
    &-id {
      width: 70px;
      text-align: unset;
    }
    &-name {
      width: 100px;
    }
    &-address {
      width: 250px;
    }
    &-city {
      width: 80px;
    }
    &-phone {
      width: 85px;
    }
    &-actions {
      display: flex;
      width: 150px;
    }
  }
}
