.Topbar {
  &__bgColor {
    // visibility: hidden;
    background-color: #ffec89;
    background: radial-gradient(circle, rgba(255,236,137,1) 0%, rgba(192,192,192,1) 100%);
  }

  &__phone-gst {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
  }

  &__logo {
    width: 200px;
  }

  &__gst {
    color: red;
  }

  &__address {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  &__MainTitle {
    font-weight: 600;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
  }
}
