.Cashbill {
  &__main-container {
    width: 1050px;
    margin: auto;
    min-height: 400px;
    border: 1px solid red;
  }

  &__select-container {
    width: 500px;
    margin: auto;
  }

  &__sub-container {
    display: flex;
  }
}
